#blue-print{
    padding: 170px 0;
    color: white;
    background: rgb(24,0,135); 
background: -moz-linear-gradient(-45deg, rgba(24,0,135,1) 0%, rgba(96,102,242,1) 100%); 
background: -webkit-linear-gradient(-45deg, rgba(24,0,135,1) 0%,rgba(96,102,242,1) 100%); 
background: linear-gradient(135deg, rgba(24,0,135,1) 0%,rgba(96,102,242,1) 100%); 
}

#blue-print .container::after{
    content: "";
    display: table;
    clear: both;
}

#blue-print .left-side{
    width: 60%;
    float: left;
}

#blue-print .left-side img{
    width: 100%;
}

#blue-print .right-side{
    width: 40%;
    float: left;
}

#blue-print .right-side h1{
    font-size: 4rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: capitalize;
    margin-bottom: 70px;
    line-height: 1.2;
}

#blue-print .right-side .info-box{
    padding: 0 0 80px;   
}

#blue-print .right-side .info-box::after{
    content: "";
    display: table;
    clear: both;    
}

#blue-print .right-side .info-box .col-1{
    width: 40%;
    float: left;
}

#blue-print .right-side .info-box .col-1 .icon-container{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 5px solid #FEA83B;
    position: relative;
}

#blue-print .right-side .info-box .col-1 .icon-container .dashed-circle{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 2px dashed white;
    margin: 0 auto;
    top: 10px;
    position: absolute;
    left: 10px;
}

#blue-print .right-side .info-box .col-1 .icon-container .fab, #blue-print .right-side .info-box .col-1 .icon-container .fas{
    font-size: 4rem;
    top: 40px;
    position: absolute;
    left: 53px;
}

#blue-print .right-side .info-box .col-2{
    width: 60%;
    float: left;
}

#blue-print .right-side .info-box .col-2 h3{
    font-size: 2rem;
    margin-bottom: 30px;
    margin-top: 29px;
}

#blue-print .right-side .info-box .col-2 p{
    font-size: 1rem;
    margin-bottom: 15px;
}

#blue-print .right-side .info-box .col-2 a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
    margin-bottom: 15px;
    color: #FEA83B;
}

/* tablet devices */
@media only screen and (max-width: 1023px){
    #blue-print {
        padding: 100px 0;
    }
    #blue-print .left-side{
        width: 40%;
    }
    #blue-print .right-side{
        width: 60%;
    }
    #blue-print .right-side h1 {
        font-size: 3rem;
        text-align: left;
        font-weight: 700;
        margin-bottom: 70px;
        line-height: 1.2;
        text-transform: capitalize;

    }
    #blue-print .right-side .info-box .col-1{
        width: 40%;
        float: left;
        text-align: center;
    }
    #blue-print .right-side .info-box .col-1 .icon-container {
        width: 120px;
        height: 120px;
        margin: 20px auto 0;
    }
    #blue-print .right-side .info-box .col-1 .icon-container .dashed-circle {
        width: 90px;
        height: 90px;
    }
    #blue-print .right-side .info-box .col-1 .icon-container .fab, #blue-print .right-side .info-box .col-1 .icon-container .fas {
        font-size: 3rem;
        top: 30px;
        left: 40px;
        position: absolute;
    }
}

/* mobile devices */
@media only screen and (max-width: 767px){
    #blue-print {
        padding: 100px 0;
    }
    #blue-print .left-side{
        width: 100%;
    }
    #blue-print .right-side{
        width: 100%;
    }
    #blue-print .left-side img {
        display: none;
    }
    #blue-print .right-side h1 {
        font-size: 3rem;
        text-align: center;
        font-weight: 700;
        margin-bottom: 70px;
        line-height: 1.2;
        text-transform: capitalize;
    }
    #blue-print .right-side .info-box .col-1{
        width: 40%;
        float: left;
        text-align: center;
    }
    #blue-print .right-side .info-box .col-1 .icon-container {
        width: 120px;
        height: 120px;
        margin: 20px auto 0;
    }
    #blue-print .right-side .info-box .col-1 .icon-container .dashed-circle {
        width: 90px;
        height: 90px;
    }
    #blue-print .right-side .info-box .col-1 .icon-container .fab, #blue-print .right-side .info-box .col-1 .icon-container .fas {
        font-size: 3rem;
        top: 30px;
        left: 40px;
        position: absolute;
    }
}